{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="{% url 'landing_path' %}"><h1>iTMS</h1></a>
            </div>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="info">{{ request.user.username }}</li>
                        <li class="info">{{ request.user.section }}</li>
                        <a href="{% url 'accounts:logout_path' %}"><li><span class="action">Logout</span></li></a>
                    {% else %}
                        <a href="{% url 'accounts:login_path' %}" class="login"><li><span class="action">Login</span></li></a>
                        <a href="{% url 'accounts:signup_path' %}" class="signup"><li><span class="action">Signup</span></li></a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>