{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>iTMS</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <style>
    </style>
    <body class="grad-y-w">
        <div class="full center">
            <main>
                <h5>Welcome to<h5>
                <h1>iTMS</h1>
                <h2>Intelligent Time Management System</h2>
                <h3>A New Way to Plan Out Class Routines</h3>
                <nav>
                    <ul>
                        <a href="{% url 'accounts:login_path' %}"><li><span class="action">Login</span><br>For existing users</li></a>
                        <a href="{% url 'accounts:signup_path' %}"><li><span class="action">Signup</span><br>Hurry up! Join us today</li></a>
                    </ul>
                </nav>
            </main>
        </div>
    </body>
</html>