<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>iTMS</title>
    </head>
    <body>
        <main>
            <h5>Welcome to<h5>
            <h1>iIMS</h1>
            <h2>Intelligent Time Management System</h2>
            <h3>A New Way to Plan Out Class Routines</h3>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'accounts:login_path' %}">Login</a><br>
                        For existing users
                    </li>
                    <li>
                        <a href="{% url 'accounts:signup_path' %}">Signup</a><br>
                        Hurry up! Join us today
                    </li>
                </ul>
            </nav>
        </main>
    </body>
</html>