{% extends 'base_layout.html' %}

{% block title %}
    iTMS | Home
{% endblock %}

{% block body %}
    <h1>Routine</h1>
    {% if not section %}
        <h5>Section not found!</h5>
        <P>Sorry, you haven't been added to any of the sections yet. Please wait for some time or cantact the system admin.</P>
    {% else %}
        {% if request.user.is_cr %}
        <nav>
            <ul>
                <li><a href="{% url 'lectures:create_path' %}">Add a Lecture</a></li>
                <li><a href="{% url 'events:create_path' %}">Create an Event</a></li>
            </ul>
        </nav>
        {% endif %}
        {% if lectures %}
            <h2>Lectures</h2>
            {% firstof "NULL" as day %}
            {% for lecture in lectures %}
                {% if day != lecture.day %}
                    {% firstof lecture.day as day %}
                    <h3>{{ day }}</h3>
                {% endif %}
                {{ lecture.subject }}
                {{ lecture.starts_at }}
                {{ lecture.ends_at }}
                {% if request.user.is_cr %}
                    <a href="{% url 'lectures:edit_path' id_l=lecture.id %}">Edit</a>
                    <a href="{% url 'lectures:delete_path' id_l=lecture.id %}">Delete</a>
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
        {% if events %}
            <h2>Events</h2>
            {% for event in events %}
                {{ event.name }}
                {{ event.starts_at }}
                {{ event.ends_at }}
                {{ event.venue }}
                {{ event.desc }}
                {% if request.user.is_cr %}
                    <a href="{% url 'events:edit_path' id_e=event.id %}">Edit</a>
                    <a href="{% url 'events:delete_path' id_e=event.id %}">Delete</a>
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}